venv/
notebook.ipynb
.vscode/
__pycache__/
.pytest_cache/
TODO.txt
docs/build/
.venv/
 
 # Jupyter
 .ipynb_checkpoints/
 
 # Packaging
 build/
 dist/
 *.egg-info/
 .eggs/
 
 # Logs
 *.log
 
 # OS files
 .DS_Store
 Thumbs.db